/* Add a black background color to the top navigation */
.topnav {
  background-color: #2b3341;
  overflow: hidden;
  width:2500px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 80px;
  padding-left: 80px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c5c7c4;
  color: #2b3341;
}

/* Add a color to the active/current link */
.topnav a.active-page {
  background-color: #ff161a;
  color: white;
}
body {
  background-image: url("background.jpg");
  /* overflow: hidden; */
   background-size:cover;
}
/* .circle:hover{
  stroke: black;
  stroke-width: 4px;
} */
