/* Add a black background color to the top navigation */
.topnav {
  background-color: #2b3341;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c5c7c4;
  color: #2b3341;
}

/* Add a color to the active/current link */
.topnav a.active-page {
  background-color: #ff161a;
  color: white;
}
/* body {
  background-image: url("background.jpg");
  overflow: hidden;
   background-size:cover;
} */
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Calibri;
      background-image: url("background.jpg");
       background-size:cover;
}
h1 {
    font-weight: 300;
    font-size: 1.95em;
    color: #fff;
    /* background-color: #071d36; */
    padding: 100px 50px 50px 100px;
    margin-bottom: 150px;
}
h2 {
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    /* background-color: green; */
    margin-bottom: 150px;
}
h3 {
    font-weight: 300;
    font-size: 1.8em;
    color: #fff;
    /* background-color: blue; */
    margin-bottom: 150px;
}
h4 {
    font-weight: 300;
    font-size: 1.7em;
    color: #fff;
    /* background-color: violet; */
    margin-bottom: 150px;
}
p {
    /* width: 30%; */
    /* margin: 0 auto 500px auto; */
    font-size: 1.6em;
    color: #fff;
    font-weight: 300;
    /* background-color: white; */
    margin-bottom: 150px;
}
