
body {
  background-image: url("background.jpg");
}
rect:hover{
	fill: whitesmoke;
}
#ahhhh{
  color: whitesmoke
}
#DivForHoverItem {
    /*just so we can see it*/
    width: 600;
    height: 25;
    fill: none;
    font-size: 24;
    color: whitesmoke;

}

#HiddenText {
    display: none;
}

#DivForHoverItem:hover #HiddenText {
    display:block;
}
