/* Add a black background color to the top navigation */
.topnav {
  background-color: #2b3341;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:focus {
  background-color: #c5c7c4;
  color: #2b3341;
}

/* Add a color to the active/current link */
.topnav a.active-page {
  background-color: #ff161a;
  color: white;
}
body {
  background-image: url("background.jpg");
  overflow: hidden;
   background-size:cover;
}
.datapoint:hover {

  fill: rgb(9,130,71);
}
