
body {
  background-image: url("background.jpg");
  overflow: hidden;
  background-size:cover;

}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #2b3341;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c5c7c4;
  color: #2b3341;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ff161a;
  color: white;
}
a {
  text-decoration: none;
    position:absolute;
    left: 50%;
top: 220%;
  padding: 8px 16px;

}

a:hover {
  background-color: #2b3341;
  color: black;

}


.next {
  color: white;
}

.round {
  border-radius: 50%;
  background-color: #098247;
}
