/* Add a black background color to the top navigation */
.topnav {
  background-color: #2b3341;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 2öpx;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c5c7c4;
  color: #2b3341;
}

/* Add a color to the active/current link */
.topnav a.active-page {
  background-color: #ff161a;
  color: white;
}
body {
  background-image: url("background.jpg");
  /* overflow: hidden; */
   background-size:cover;
}
h1 {
    font-weight: 300;
    font-size: 3em;
    color: #fff;
    text-align: center;
    /* background-color: #071d36; */
    /* padding: 100px 50px 50px 100px; */
    /* margin-bottom: 150px; */
}
h2 {
    font-weight: 300;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: green; */
    /* margin-bottom: 150px; */
}
h3 {
    font-weight: 300;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    margin-left: 20px;

    /* background-color: blue; */
    /* margin-bottom: 150px; */
}
h4 {
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    text-align: left;
    padding-left: 50px;

    /* background-color: blue; */
    /* margin-bottom: 150px; */
}
h5{
    font-weight: 300;
    font-size: 1.5em;
    color: #fff;
    text-align: center;

    /* background-color: blue; */
    /* margin-bottom: 150px; */
}
p{
    font-weight: 300;
    font-size: 1.5em;
    color: rgb(255, 255, 255, 0);
    text-align: center;
    /* display: none; */

    /* background-color: blue; */
    /* margin-bottom: 150px; */
}
#hidden a{
    font-weight: 300;
    font-size: 1em;
    color: rgb(255, 255, 255, 0);
    text-align: center;
    /* display: none; */

    /* background-color: blue; */
    /* margin-bottom: 150px; */
}
a{
color: rgb(255, 255, 255);
  text-decoration: none;
}

#hidden a:hover {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: white;
  text-decoration: underline;
}
